<div class="container">
  <div>
    <img src="https://i.im.ge/2021/10/20/o2GLXM.png?fbclid=IwAR0OcZ407aJR8A8tSqdao5nll6SH3n_0fWNFLk5XvV9yJ1j8yY2Lc37165Y" alt="logo" id="responsive-image" />
  </div>
  <div>
    <h1>How I can use it ?</h1>
    <p>
      First of all, let's pay attention that there are several menus:
    </p>
    <ol>
      <li>Home </li>
      <li>Create Curvey</li>
      <li>Add Recipient</li>
      <li>Surveys</li>
  </ol>
  <p > Throughout this documentation ~ we'll go over each of them. </p>
  </div>
</div>
