<div class="container">  


 <progress-bar [progress]="loadingVal" [color-degraded]="{'30' : '#ff0000', '45': '#3333ff', '75': '#00e600'}"></progress-bar> 

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">  
      
<div class="splitEmailSection">
  <div class="centered">
    <p>  
      <label for="name">E-Mail Username:</label>  
      <input type="text" id="emailName" name="name" class="form-control" value="areszka789@gmail.com">  
    </p> 
  </div>
    
  <div class="centered">
    <p>  
      <label for="name">E-Mail Password:</label>  
      <input type="password"  id="emailPassword" name="name" class="form-control" value="Qwertas123">  
    </p> 
  </div>
</div> 
    
    <table class="table table-bordered" formArrayName="recipients" style="width: 100%;">  
      <tr>  
        <th colspan="2">Add Multiple Recipients:</th>  
        <th id="Row">
          
          <button type="button" (click)="addRecipient()" 
          class="btn btn-primary" data-role="button" class="btn btn-primary btn-sm" id="addButton" 
          onclick="disableButton(this)">

            <label>Add More</label>

          </button>

          <input type="file" id="files" class="btn btn-info " (change)="Upload($event)"  style="display: inline-block;" placeholder="Upload file" accept=".xlsx" class="hidden">
         
          <button type="button" class="btn btn-primary" data-role="button"  class="btn btn-primary btn-sm">
            
             <label for="files">Upload file</label>
          </button>
          <label for="files" class="labelXLSX">(*.xlsx)</label>
        </th>  
      </tr>  
      <tr *ngFor="let recipient of recipients().controls; let i=index" [formGroupName]="i">  
        <td colspan="2" id="centerSpan" class="block">  
           <div class="spanText"> Recipients: </div>
           <textarea id="textareaSpan" name="w3review" rows="4" cols="50" contenteditable="true" type="textarea" formControlName="qty" class="form-control" id="SpanRecipients">
            </textarea>
        </td>  
        <td>
          <button (click)="removeRecipient(i)" class="btn btn-danger btn-sm"
          onclick="enableButton(addButton)">Remove</button> 
        </td>
      </tr>
    </table>  

    <button type="submit" class="btn btn-success btn-sm" onclick="enableButton(addButton)">
      Submit
    </button>  
  </form>  
</div>  



<router-outlet></router-outlet>