.splitEmailSection{
    width: 80%;
}

div.centered:nth-child(1){
    width: 45%;
    float: left; 
}


div.centered:nth-child(2){
    width: 50%;
    float: right;
}


.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    width: 60%;
}


input.btn.btn-info {  
    margin-top: 5px;
    background-color: white !important;
    border-color: white !important;
} 

#Row {
    width: 20%;
}

.Column {
    resize:both;
  }

  .btn-primary {
    margin: 1px;
  
}

.labelXLSX{
    font-size: .85em;
}

#SpanRecipients{
    float:right;
    width:90% !important;
}

.spanText{
    float: left;
    padding-top: 4px; 
}

tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

textarea {
    resize: none;
    overflow: hidden;
  }

  .btn-group-sm>.btn, .btn-sm{
    font-size: 16px !important;
  }